.container{
    width: 100%;
    height: 100%;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #6a3093, #a044ff);
    background: linear-gradient(to top, #6a3093, #a044ff);

    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 90px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

.title{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.loginContainer{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 500px;
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
}

.titleContainer{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formTitle{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.formInput{
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    color: black !important;
    font-weight: bold !important;
    font-size: 20px !important;
    border-color: #0e0e0e !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none !important;
}
.formLabel{
    width: 80%;
    height: auto;
    color: black;
    font-weight: bold;
}

.formInput:hover{
    border-color: #0e0e0e !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0;
    box-shadow: none !important;
}

.loginButton{
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    margin-top: 30px;
    background: linear-gradient(to right, #6a3093, #a044ff);
    outline: none;
}
.loginButton:hover{
    background: linear-gradient(to right, #6a3093, #a044ff) !important;
}

.loginFooter{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerText{
    font-size: 14px;
    font-weight: bold;
}
.footerButton{
    font-size: 18px;
    font-weight: bold;
    color: #6a3093;
    text-decoration: none;
}



